<div class="container">
  <div class="text-right">
         <h4>Óla, <%= administrador.nome %></h4>
  </div>
     <div class="header clearfix">
       <nav>
         <ul class="nav nav-pills float-right">
           <li class="nav-item">
             <a class="nav-link" href="/pedido">Pedido </span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Cliente</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Produto</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/administrador">Administrador</a>
           </li>

             <li class="nav-item">
             <form action = "/logoff">
                  <button type="submit"  class="btn btn-secondary">Sair</button>
               </form>
             </li>
         </ul>
       </nav>
       <div class="media">
         <img class="img-fluid" src="/images/logoPequeno.png" alt="Mundo das Coxinhas">
      </div>
    </div>
